.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 30vw;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.form label {
  display: flex;
  flex-direction: column;
  color: #141414;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form input,
.form textarea,
.form select {
  width: 30vw;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #eee;
  border: none;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.form.dark input,
.form.dark textarea,
.form.dark select {
  background: #3d3d3d !important;
  color: #fff !important;
  border: none !important;
}

.form.dark label {
  color: #fff !important;
}

.modal.dark {
  background: #333 !important;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 30vw;
  max-width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.buttons button {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: none;

  display: flex;
  width: 30vw;
  padding: 0.625rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: linear-gradient(90deg, #4890f5 0%, #226ed8 99.7%);
  cursor: pointer;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  left: 140%;
}

.title {
  width: 10rem;
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 900px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 75vw;
    max-width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }

  .form label {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01488rem;
  }

  .form input,
  .form textarea,
  .form select {
    width: 75vw;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #eee;
    border: none;
    margin-bottom: 1vh;
  }

  .form.dark input,
  .form.dark textarea,
  .form.dark select {
    background: #3d3d3d !important;
    color: #fff !important;
    border: none !important;
  }

  .form.dark label {
    color: #fff !important;
  }

  .modal.dark {
    background: #333 !important;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 75vw;
    max-width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .buttons button {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;

    display: flex;
    width: 75vw;
    padding: 0.625rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #4890f5 0%, #226ed8 99.7%);
    cursor: pointer;
  }

  .closeButton {
    cursor: pointer;
  }

  .title {
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: auto;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
  }
}
