:root {
  --white1: #ffffff;
  --white2: #fafafa;
  --grey1: #eeeeee;
  --grey2: #c4c4c4;
  --black1: #141414;

  --yellow1: #fffcee;
  --yellow2: #fff5c0;
  --yellow3: #ffe03f;
  --yellow4: #ffd569;
  --yellow5: #fbb910;

  --red1: #ffafaf;
  --red2: #ff8787;
  --blue1: #4890f5;
  --blue2: #226ed8;
  --blue3: #114fa7;
  --blue4: #002d6c;
}

.dark-mode {
  --white1: #3d3d3d;
  --white2: #535353;
  --grey1: #fafafa;
  --grey2: #c4c4c4;
  --black1: #141414;

  --yellow1: #fffcee;
  --yellow2: #fff5c0;
  --yellow3: #ffe03f;
  --yellow4: #ffd569;
  --yellow5: #fbb910;

  --red1: #ffafaf;
  --red2: #ff8787;
  --blue1: #4890f5;
  --blue2: #226ed8;
  --blue3: #114fa7;
  --blue4: #002d6c;
}
